# Lab | Data Structuring and Combining Data

## Challenge 1: Combining & Cleaning Data

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the links below.

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Note that you'll need to clean and format the new data.

Observation:
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [257]:
# Your code goes here
import pandas as pd

In [258]:
customer_data = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv')

In [259]:
customer_data_update_1 = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv')

In [260]:
customer_data_update_2 = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv')

In [261]:
customer_data.columns

Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount'],
      dtype='object')

In [262]:
customer_data_update_1.columns

Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Total Claim Amount', 'Policy Type', 'Vehicle Class'],
      dtype='object')

In [263]:
customer_data_update_2.columns

Index(['Customer', 'State', 'Customer Lifetime Value', 'Education', 'Gender',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Total Claim Amount', 'Vehicle Class'],
      dtype='object')

In [264]:
for column in customer_data.columns:
    if column in customer_data_update_1.columns and column in customer_data_update_2.columns:
        print('Correct')
    else:
        print('Error')

Correct
Error
Error
Correct
Correct
Correct
Correct
Correct
Correct
Correct
Correct

In [265]:
customer_data.columns = customer_data.columns.str.lower().str.replace(' ', '_')
customer_data.rename(columns={'st': 'state'}, inplace=True)

customer_data_update_1.columns = customer_data_update_1.columns.str.lower().str.replace(' ', '_')
customer_data_update_1.rename(columns={'st': 'state'}, inplace=True)

customer_data_update_2.columns = customer_data_update_1.columns.str.lower().str.replace(' ', '_')
customer_data_update_2.rename(columns={'st': 'state'}, inplace=True)

In [266]:
new_customer_data = pd.concat([customer_data, customer_data_update_1, customer_data_update_2], axis=0)

In [267]:
# new_customer_data = pd.merge(customer_data, customer_data_update_1, how='outer')
# new_customer_data = pd.merge(new_customer_data, customer_data_update_2, how='outer')

In [268]:
new_customer_data

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
7065,LA72316,California,23405.98798,Bachelor,M,71941.0,73.0,0,198.234764,Four-Door Car,Personal Auto
7066,PK87824,California,3096.511217,College,F,21604.0,79.0,0,379.2,Four-Door Car,Corporate Auto
7067,TD14365,California,8163.890428,Bachelor,M,0.0,85.0,3,790.784983,Four-Door Car,Corporate Auto
7068,UP19263,California,7524.442436,College,M,21941.0,96.0,0,691.2,Four-Door Car,Personal Auto
7069,Y167826,California,2611.836866,College,M,0.0,77.0,0,369.6,Two-Door Car,Corporate Auto

In [245]:
new_customer_data.dropna(axis=0, how='all', inplace=True)

new_customer_data.dropna(axis=1, how='all', inplace=True)

In [246]:
new_customer_data.duplicated().sum()

2936

In [247]:
new_customer_data = new_customer_data.drop_duplicates(keep='first')

In [248]:
new_customer_data

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
12066,LA72316,California,23405.98798,Bachelor,M,71941.0,73.0,0,198.234764,Four-Door Car,Personal Auto
12067,PK87824,California,3096.511217,College,F,21604.0,79.0,0,379.2,Four-Door Car,Corporate Auto
12068,TD14365,California,8163.890428,Bachelor,M,0.0,85.0,3,790.784983,Four-Door Car,Corporate Auto
12069,UP19263,California,7524.442436,College,M,21941.0,96.0,0,691.2,Four-Door Car,Personal Auto
12070,Y167826,California,2611.836866,College,M,0.0,77.0,0,369.6,Two-Door Car,Corporate Auto

In [249]:
new_customer_data["gender"] = new_customer_data["gender"].replace("Femal", "F").replace("female", "F").replace("Male", "M")

C:\Users\vonke\AppData\Local\Temp\ipykernel_19480\3999006955.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_customer_data["gender"] = new_customer_data["gender"].replace("Femal", "F").replace("female", "F").replace("Male", "M")

In [250]:
new_customer_data["state"] = new_customer_data["state"].replace("AZ", "Arizona").replace("Cali", "California").replace("WA", "Washington")

C:\Users\vonke\AppData\Local\Temp\ipykernel_19480\3697618588.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_customer_data["state"] = new_customer_data["state"].replace("AZ", "Arizona").replace("Cali", "California").replace("WA", "Washington")

In [251]:
new_customer_data["education"] = new_customer_data["education"].replace("Bachelors", "Bachelor")

C:\Users\vonke\AppData\Local\Temp\ipykernel_19480\631419588.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_customer_data["education"] = new_customer_data["education"].replace("Bachelors", "Bachelor")

In [252]:
new_customer_data["customer_lifetime_value"] = new_customer_data["customer_lifetime_value"].str.rstrip('%')

C:\Users\vonke\AppData\Local\Temp\ipykernel_19480\1694456355.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_customer_data["customer_lifetime_value"] = new_customer_data["customer_lifetime_value"].str.rstrip('%')

In [253]:
new_customer_data["customer_lifetime_value"].unique()

array([nan, '697953.59', '1288743.17', ..., '399258.39', 'M', 'F'],
      dtype=object)

In [254]:
new_customer_data["customer_lifetime_value"] = new_customer_data["customer_lifetime_value"].astype(float)

ValueError: could not convert string to float: 'M'

In [255]:
new_customer_data["number_of_open_complaints"] = new_customer_data["number_of_open_complaints"].str.split('/').str[1]

C:\Users\vonke\AppData\Local\Temp\ipykernel_19480\2887628991.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_customer_data["number_of_open_complaints"] = new_customer_data["number_of_open_complaints"].str.split('/').str[1]

In [256]:
new_customer_data.customer_lifetime_value.fillna(new_customer_data.customer_lifetime_value.median(), inplace=True)

TypeError: could not convert string to float: 'M'

In [ ]:
new_customer_data.gender.fillna(new_customer_data.gender.mode()[0], inplace=True)

In [ ]:
df.isna().any()

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

In [ ]:
# Your code goes here

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

## Bonus

You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*

In [ ]:
# Your code goes here